Source: ros-humble-laser-proc
Section: misc
Priority: optional
Maintainer: Chad Rockey <chadrockey@willowgarage.com>
Build-Depends: debhelper (>= 9.0.0), ros-humble-ament-cmake, ros-humble-ament-lint-auto <!nocheck>, ros-humble-ament-lint-common <!nocheck>, ros-humble-class-loader, ros-humble-rclcpp, ros-humble-rclcpp-components, ros-humble-sensor-msgs, ros-humble-ros-workspace
Homepage: http://ros.org/wiki/laser_proc
Standards-Version: 3.9.2

Package: ros-humble-laser-proc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-class-loader, ros-humble-rclcpp, ros-humble-rclcpp-components, ros-humble-sensor-msgs, ros-humble-ros-workspace
Description: laser_proc
